[submodule "config/public/wp-content/themes/redux-embed/redux-framework"]
	path = config/public/wp-content/themes/redux-embed/redux-framework
	url = https://github.com/ReduxFramework/ReduxFramework.git
